
div{
    background-color: #262626;
    border: none;
}
form input[type="text"], input[type="password"] {
    background-color: #fff;
    text-align: center;
    width: 96%;
    border: 1px solid #262626;
    border-radius: 4px;
    height: 30px;
    padding: 6px 0 2px 5px;
    margin: 8px;
}
form input[type="text"]:focus, .login-info input[type="password"]:focus {
    border: 1px solid #10a7d5;
    background-color: #fff7e6;
    outline: 0;
}

button{
    background-color: #199c79;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    clear: both;
    border: solid 1px;
}

