

<div class="login-info">
    <form [formGroup]="form" (ngSubmit)="onSubmit()"  >
        <div class="grupo-form">
        <label><b>Nombre de Usuario</b></label>
        <input 
            name="nombreUsuario-rf"
            id="nombreUsuario-rf"
            placeholder="Nombre de Usuario" 
            required 
            type="text"
            [(ngModel)]="nombreUsuario"
            maxlength="20"
            min="3"
            formControlName="nombreUsuario">
        </div>
        <div class="alerta">
            <div *ngIf="form.get('nombreUsuario')?.touched && form.get('nombreUsuario')?.errors?.['required']" class="alerta">Campo requerido, ingrese su nombre de usuario</div>
            <div *ngIf="form.get('nombreUsuario')?.touched && form.get('nombreUsuario')?.errors?.['minlength']">El campo Nombre debe tener al menos {{form.get('nombreUsuario')?.errors?.['minlength']?.requiredLength}} caráctes </div>
            <div *ngIf="form.get('nombreUsuario')?.touched && form.get('nombreUsuario')?.errors?.['maxlength']">El Nombre no puede tener mas de 20 caracteres </div>
        </div>
        <div class="grupo-form">
        <label><b>Password</b></label> 
        <input autocomplete="on" 
            name="psw" 
            placeholder="Password" 
            required="" 
            type="password"
            [(ngModel)]="password"
            formControlName="password"
            >
        </div>    
        <div class="alerta">
            <div *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']" class="alerta">Campo requerido, ingrese su password</div>
        </div>
        <button class="login" type="submit">Entrar</button>
        <div class="login-bottom-container">
            <span>Olvidó <a href="#">password?</a></span>
        </div>
    </form>
</div>

