<div class="contacto-mensaje">
    <div class="contacto-title">
        <div class="div-title"><p><b>Nombre: </b>{{contacto.nombre}}</p></div>
        <div class="div-title"><p><b>Email: </b>{{contacto.email}}</p></div>
        <div class="div-title"><p><b>asunto: </b>{{contacto.asunto}}</p></div>
        <div class="div-title"><p><b>Mensaje: </b>{{contacto.mensaje}}</p></div>
    </div>
    <div >
        <button (click)="borrarContacto()">Eliminar</button><button (click)="editarContacto()">Editar</button>
    </div>
</div>
