<footer>
    <div class="footer-top">
        <div class="container-top">
            <div class="row-top">
                <div class="col-top">
                    <ul class="ul">
                        <li class="li"><a href="https://github.com/faid29" class="footer-link-icon"><i class="bi bi-github"></i></a></li>
                        <li class="li"><a href="https://www.linkedin.com/in/rubenisarco/" class="footer-link-icon"><i class="bi bi-linkedin"></i></a></li>
                        <li class="li"><a href="https://facebook.com/ruben.sarco" class="footer-link-icon"><i class="bi bi-facebook"></i></a></li>
                        <li class="li"><a href="https://www.instagram.com/sarcoruben8/" class="footer-link-icon"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-bottom">
            <div class="row-bottom">
                <div class="col-bottom">
                    <p class="text-p">&copy; Copyright <strong>Rubén I Sarco</strong>. All Rights Reserved</p>
                    <p class="text-p">Created by <a href="https://github.com/faid29" class="footer-link-bottom">Rubén I Sarco</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
