<header>
    <div class="header-top">
        <div *ngFor="let data of dataLogo" class="header-logo">
            <i class="{{ data.icon1}}">{{data.icon2}}</i><div class="logo-title"><span>{{data.titulo1}}<br>{{data.titulo2}}</span></div><b>{{data.titulo3}} </b>
        </div>
        <app-login></app-login>
        <app-registro></app-registro>
    </div>
    <div class="header-bottom">
        <nav class="nav">
            <div class="nav-home">
                <button (click)="showMenu=!showMenu" class="button-menu">
                    <i class="bi bi-list"></i>
                </button>
                <a href="" class="nav-home-link">
                    <i class="bi bi-house-door-fill icon-home"></i>
                </a>
            </div>
            <div class="nav-menu">
                <ul class="nav-ul">
                    <li class="nav-li" *ngFor="let data of dataMenu"><a href="" class="nav-li-link">{{data.titulo}} <i class="{{ data.icon }}"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--______Menu responsive_________-->
    <div *ngIf="showMenu" class="dropMenu">
        <ul ng class="dropMenu-ul">
            <li class="dropMenu-li" *ngFor="let data of dataMenu"><a href="" class="nav-li-link">{{data.titulo}} <i class="{{ data.icon }}"></i></a></li>
        </ul>
    </div>
</header>

