<header>
    <div class="header-top">
        <div *ngFor="let data of dataLogo" class="header-logo">
            <i class="{{ data.icon1}}">{{data.icon2}}</i><div class="logo-title"><span>{{data.titulo1}}<br>{{data.titulo2}}</span></div><b>{{data.titulo3}} </b>
        </div>
        <div class="login-icon" >
            <a (click)="toggleModal()" routerLink="/login"><i class="bi bi-person-circle user-icon"></i></a>
        </div>
        <app-login #mostrarModal ></app-login>
    </div>
    <div class="header-bottom">
        <app-menu></app-menu>
    </div>
</header>

