/*______________________Header Top______________________________*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Prompt:wght@400;500&family=Roboto:ital,wght@0,500;1,400&display=swap');

.header-top{
    background: black;
    color: #fff;
}


.header-logo{
    font-size: 0.8rem;
    display:inline-block;
    margin-left:25px;
}

.logo-title{
    font-size: 8px;
    display: inline-block;
}

ul{
    list-style: none;
}


.login-icon {	
    float: right;
    margin-top: 2px;
    margin-right: 20px;
    border: none;
}

.user-icon{
    color: #21DBAA;
    width: 25px;
    margin: 0px;
    height: 20px;   
    text-align: center;
    font-size: 1rem;
}


/*___________________Header bottom_______________________________*/


.header-bottom{
    color: #fff;
    background-color: #191919;
}

