.header-grid{
    display: grid;
    flex-direction: row;
    height: 5vh;
    border: none;
}

.header-top{
    background: black;
    color: #fff;
}


.header-logo{
    font-size: 0.8rem;
    display:inline-block;
    margin-left:20px;
}

.img-logo{
    background-size: cover;
    
}

.logo-title{
    font-size: 8px;
    display: inline-block;
}

ul{
    list-style: none;
}


.login-icon {	
    float: right;
    margin-top: 2px;
    margin-right: 20px;
    border: none;
}

.user-icon{
    color: #21DBAA;
    width: 25px;
    margin: 0px;
    height: 20px;   
    text-align: center;
    font-size: 1rem;
}

.closeSesion{
    float: right;
    font-size: 0.6em;
    margin-right: 20px;
}


button{
    background-color: #199c79;
    color: white;
    padding: 3px;
    margin: 4px 0;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}
