
    <form #formProfesion [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="mostrarForm">
        <div class="div-col">
            <div class="div-row div-input">
                <label for="titulo_profesion">Titulo Profesion</label>
                <input 
                type="text"  
                id="titulo_profesion"
                class="form-control"
                formControlName="titulo_profesion"
                type="text"
                >
            </div>
            <div class="div-row div-input">
                <label for="descripcion_profesion">Descripción Profesion</label>
                <input 
                type="text"  
                id="descripcion_profesion"
                class="form-control"
                formControlName="descripcion_profesion"
                type="text"
                >
            </div>
        </div> 
        <button type="submit" [disabled]="form.invalid" >
            guardar
        </button>
    </form>
