<div >
    <form class="form-laboral" #formLaboral [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="mostrarForm">
        <div class="div-col">    
            <div class="div-row div-input">
                <label for="nombre_empresa">Nombre Empresa</label>
                <input 
                type="text"  
                id="nombre_empresa"
                class="form-control"
                formControlName="nombre_empresa"
                type="text"
                ngbTooltip="Entre 3 y 60 caracteres"
                >
            </div>
            <div class="div-row div-input">
                <label for="puesto">Puesto</label>
                <input 
                type="text"  
                id="puesto"
                class="form-control"
                formControlName="puesto"
                type="text"
                ngbTooltip="Entre 3 y 60 caracteres"
                >
            </div>
            <div class="div-row div-input">
                <label for="fecha_desde">Fecha desde</label>
                <input 
                type="date"  
                id="fecha_desde"
                class="form-control"
                formControlName="fecha_desde"
                >
            </div>
            <div class="div-row div-input">
                <label for="fecha_hasta">Fecha hasta</label>
                <input 
                type="date"  
                id="fecha_hasta"
                class="form-control"
                formControlName="fecha_hasta"
                >
            </div>
            <div class="div-row div-input">
                <label for="descripcion_laboral">Descripción laboral</label>
                <input 
                type="text"  
                id="descripcion_laboral"
                class="form-control"
                formControlName="descripcion_laboral"
                type="text"
                ngbTooltip="debe tener mas de minimo 3 y 256 caracteres"
                >
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid" >
            guardar
        </button>
    </form>
</div>
