.share-col {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
}

.ul-share {
    margin-bottom: 0;
}

.li-share {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.share-link {
    font-size: 12px;
    padding-bottom: 10px;
}

.img-share {
    width: 40px;
}

li {
    list-style: none;
}

/*::::::::::::::::::::::::::::::::::::::::MEDIA QUERY::::::::::::::::::::::::::::::::::::::::*/

@media screen and (max-width: 1200px) {

    .title-h1 {
        font-size: 4rem;
    }

    .title-p {
        font-size: 1.3rem;
    }

    .div-section {
        margin-left: 11vw;
    }

    .li {
        font-size: 0.8rem;
    }

    button {
        font-size: 1.5rem;
    }

    /*_________________________________Button shared/like/coment_____________________________*/

    .img-share {
        width: 25px;
    }
}

@media screen and (max-width: 992px) {

    /*_________________________________Button shared/like/coment_____________________________*/

    .share {
        margin-left: 11vw;
        width: 220px;
    }

    .share-col {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: auto;
    }

    .img-share {
        width: 22px;
    }
}

@media screen and (max-width: 768px) {
    .ul {
        padding-left: 0;
    }

    .li {
        font-size: 0.5rem;
        list-style: none;
    }

    .share {
        margin-left: 0vw;
        width: 100px;
    }

    .share-col {
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows: auto;
    }

    .ul-share {
        margin-bottom: 0;
        padding-left: 4px;

    }

    .li-share {
        margin-right: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.4rem;

    }

    .img-share {
        width: 15px;
    }

}