<div class="form-proyecto">
    <form #formProyecto [formGroup]="form" (ngSubmit)="onSubmit($event)" *ngIf="mostrarForm">
        <div class="div-proyecto">
            <label for="titulo_proyecto">Proyecto</label>
            <input 
            type="text"  
            id="titulo_proyecto"
            class="form-control"
            formControlName="titulo_proyecto"
            >
        </div>
        <div class="div-proyecto">
            <label for="fecha_proyecto">Fecha</label>
            <input 
            type="date"  
            id="fecha_proyecto"
            class="form-control"
            formControlName="fecha_proyecto"
            >
        </div>
        <div class="div-proyecto">
            <label for="descripcion_proyecto">Descripcion</label>
            <input 
            type="text"  
            id="descripcion_proyecto"
            class="form-control"
            formControlName="descripcion_proyecto"
            >
        </div>
        <div class="div-proyecto">
            <label for="imagen_proyecto">Imagen proyecto</label>
            <input 
            type="text"  
            id="imagen_proyecto"
            class="form-control"
            formControlName="imagen_proyecto"
            >
        </div>
        <div class="div-proyecto">
            <label for="imagen_proyecto1">Imagen proyecto</label>
            <input 
            type="text"  
            id="imagen_proyecto1"
            class="form-control"
            formControlName="imagen_proyecto1"
            >
        </div>
        <div class="div-proyecto">
            <label for="imagen_proyecto2">Imagen proyecto</label>
            <input 
            type="text"  
            id="imagen_proyecto2"
            class="form-control"
            formControlName="imagen_proyecto2"
            >
        </div>
        <div class="div-proyecto">
            <label for="imagen_proyecto3">Imagen proyecto</label>
            <input 
            type="text"  
            id="imagen_proyecto3"
            class="form-control"
            formControlName="imagen_proyecto3"
            >
        </div>
        <button type="submit" [disabled]="form.invalid" >
            guardar
        </button>
    </form>
</div>