.educacion {
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    margin: 20px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.educacion-title {
    padding: 10px 10px;
}

img {
    object-fit: contain;
    max-width: 100px;
}

.educacion-button {
    margin: auto;
}

b {
    color: #179b76;
}

button {

    color: #fff;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #158668;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 992px) {

    .educacion {
        background-color: #191919;
        border: 1px solid #262626;
        border-radius: 5px;
        margin: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
}