<div class="educacion">
    <div class="educacion-title">
        <div><p><b>Institución: </b>{{educacion.nombre_institucion}}</p></div>
        <div><p><b>Certificación: </b>{{educacion.nombre_certificacion}}</p></div>
        <div><p><b>Fecha inicio: </b>{{educacion.fecha_inicio}} <b>Fecha finalización: </b>{{educacion.fecha_fin}}</p></div>
        <div><p><b>Estado: </b>{{educacion.estado}}</p></div>
        <div><p><b>Descripción: </b>{{educacion.descripcion_curso}}</p></div>
        <div class="img-institucion">
            <img src="{{educacion.imagen_institucion}}" alt="">
        </div>
    </div>
    <div >
        <button (click)="borrarEducacion()">Eliminar</button><button (click)="editarEducacion()">Editar</button>
    </div>
</div>