<div class="persona">
    <div class="persona-title">
        <div class="div-title"><p><b>Nombre: </b>{{persona.nombre}}</p></div><div class="div-title"><p><b>Apellido: </b>{{persona.apellido}}</p></div>
        <div class="div-title"><p><b>Email: </b>{{persona.email}}</p></div>
        <div class="div-title"><p><b>telefono: </b>{{persona.telefono}}</p></div>
        <div class="div-title"><p><b>Pais: </b>{{persona.pais}}</p></div>
        <div class="div-title"><p><b>Ciudad: </b>{{persona.ciudad}}</p></div>
        <div class="div-title"><p><b>Estado civil: </b>{{persona.estado_civil}}</p></div>
        <div class="div-title"><p><b>Dirección: </b>{{persona.direccion}}</p></div>
        <div class="div-title"><p><b>Edad: </b>{{persona.edad}}</p></div>
        <div class="div-foto-perfil" ><img class="img-perfil" src="{{persona.foto}}" alt=""></div>
    </div>
    <div >
        <button (click)="borrarPersona()">Eliminar</button><button (click)="editarPersona()">Editar</button>
    </div>
</div>