<div class="acerca">
    <div class="acerca-col">
        <div class="row-title">
            <h2>¿Quien Soy?</h2>
        </div>
    </div>
    <div class="col-p">
        <div class="row-p">
            <h4>Bienvenido a mi portafolio web</h4>
            <div class="p">
                <p>Soy un desarrolador front-end y back-end junior.<br>
                Poseo gran pasión y dedicación por el desarrollo web.<br>
                Me gusta ser organizado, detallista y encontrar la manera mas simple de resolver problemas.<br>
                En las horas libres me dedico a las actividades físicas, series de televisión y juegos.</p>
                <p>Interesado en todo tipo de proyectos ambicioso y trabajo en equipo. </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
