
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;

}   

.modalDialog>div {
    width: 50%;
    position: relative;
    margin: 5vh auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #262626
}

a{
   color: #fff; 
   text-decoration: none;
}

a:hover{
    color: #000;
}

button{
    background-color: #199c79;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    clear: both;
}




