<div class="modalDialog" *ngIf="mostrarModal">
	<div class="container" *ngIf="isLogged">
		<div class="col" *ngIf="mostrarIniciarSesion">
			<h5>Iniciar Sesion</h5>
			<app-login-form></app-login-form>
			<p>No tenes cuenta? <b><a (click)="mostrarOcultar()" routerLink="/register"> {{tituloRegistro}} </a></b></p>
		</div>
		<div class="col" *ngIf="mostrarRegistro">
			<h5>Registro</h5>
			<app-register-form></app-register-form>
			<p>Tenés cuenta ?<b><a (click)="mostrarOcultar()" routerLink="/login"> {{tituloRegistro}} </a></b></p>
		</div>
		<a href="https://portafolio-rubensarco.web.app"><button type="button">Salir</button></a>
	</div>
	<div class="container" *ngIf="!isLogged">
		<div class="col">
			<h5>Bienvenido, ya iniciaste sesión</h5>
			<a href="https://portafolio-rubensarco.web.app">Ir al Home<i class="bi bi-house-door-fill home-icon"></i></a>
			<button (click)="onLogOut()">Cerrar Sesión</button>
		</div>
	</div>
</div>