<input type="checkbox" id="button-modal-educacion">
<label for="button-modal-educacion" class="label-modal">Editar<i class="bi bi-pencil-fill"></i></label>
<div class="modal">
    <div class="contenedor">
        <label for="button-modal-educacion"><i class="bi bi-x-square i-close"></i></label>
        <div class="contenido">
            <form action="post">
                <label for="">Nombre curso</label>
                <input type="text">
            </form>
        </div>
    </div>
</div>