.exp-laboral{
    background-color: #161616;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto;
}

.info-laboral{
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    margin: 30px 30px 20px 20px;
    text-align: center;

}

/* .logo-laboral{
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    margin: 30px 10px 20px 50px;
    text-align: center;
} */