@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Prompt:wght@400;500&family=Roboto:ital,wght@0,500;1,400&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-45deg, #262626, #151515, #191919, #293535);
    text-align: center;
    background-size: 400% 400%;
    animation: changeBG 20s ease infinite;
    height: 9vh;
}

.nav-menu {
    margin-right: 30px;
}

/* :::::: ICON MENU PRINCIPAL::::::: */
.nav-home {
    margin-left: 20px;
}

.nav-home-link {
    font-size: 1rem;

}

.home-icon {
    font-size: 2rem;
    color: #21DBAA;
}

/* ::::::::::::::::::: */

/* ::::::::TITULO MENU PRINCIPAL:::::::::::: */
.nav-ul {
    display: flex;
    margin-top: 12px;

}

.nav-li {

    list-style: none;
    padding: 0px 10px;
}

.nav-li-a {
    font-family: 'Roboto', 'Medium 500';
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding-left: 10px;
}

/* ::::::::::::::::::::::: */

/* ::::::::NAV DROP:::::::::::: */
.nav-drop-ul {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    opacity: 0.5;
    transition: height 2s;
}

.nav-drop-li {
    list-style: none;
}

.nav-drop-a {
    font-family: 'Roboto', 'Medium 500';
    text-decoration: none;
    color: #fff;

}

/* ::::::::::::::::::::::: */


@media screen and (max-width: 992px) {

    .nav {
        display: none;
    }

    .nav-drop-ul {
        display: none;
    }

}