.container-soft {
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
}

.col-soft {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    border-radius: 5px;

}

.vista-soft {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #191919;
    border-radius: 5px;
    padding-right: 10px;
}

.p-nombre-soft {
    font-size: 1.2rem;
}

.app-soft {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}


@media screen and (max-width: 1200px) {

    .col-soft {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 992px) {

    .col-soft {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

    }

    .p-nombre-soft {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 768px) {

    .vista-soft {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .col-soft {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

    }

    .p-nombre-soft {
        font-size: 1rem;
    }

}

@media screen and (max-width: 540px) {

    .col-soft {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0.5rem;

        border-radius: 5px;

    }

    .vista-soft {
        display: block;
        text-align: center;
        background-color: #191919;

        padding-right: 10px;
    }

    .p-nombre-soft {
        font-size: 0.8rem;
    }

}