.container-idioma{
    background-color: #191919;
}

.col-idioma{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.vista-idioma{
    text-align:center;
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    padding-right: 10px;
}

.app-idioma{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .vista-idioma{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}