.container-educacion {
    margin: 20px 20px 0px 20px;
}

.col-educacion {
    border-radius: 5px;
}

.vista-educacion {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 5px;
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    padding-right: 10px;
    justify-content: space-between;
}

.img-institucion {
    object-fit: contain;
    max-width: 100px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 5px;
}



.app-educacion {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .vista-educacion {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    
    .img-institucion {
       border-radius: 5px;
       margin-left: 10px;
       margin-bottom: 10px;
    }

}