.container-idioma {
    margin: 20px 20px 20px 20px;
}

.col-idioma {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    border-radius: 5px;
}

.vista-idioma {
    text-align: center;
    background-color: #191919;
    border: 1px solid #262626;
    border-radius: 5px;
    padding-right: 10px;
}

.app-idioma {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .col-idioma {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0.5rem;
        border-radius: 5px;
    }


}

@media screen and (max-width: 363px) {

    .col-idioma {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }


}